/*!
global > color
------------------------------
*/
:root {
    color-scheme: light dark;
    --color-bg: light-dark(#f0eee9, #000000);
    --color-text: light-dark(#000000, #dddddd);
    --color-icon: light-dark(#000000, #dddddd);
    --color-line-section: light-dark(#222222, #cccccc);
    --color-line-ui: light-dark(#555555, #888888);
    --color-contact-bg: light-dark(#f2f2f2, #ffffff);
    --color-contact-text: light-dark(#ffffff, #000000);
    --color-button-text-shadow: light-dark(rgba(0, 0, 0, 0.38), rgba(255, 255, 255, 0.44));
}

[data-theme="light"] {
    --color-bg: #f0eee9;
    --color-text: #000000;
    --color-icon: #000000;
    --color-line-section: #222222;
    --color-line-ui: #555555;
    --color-contact-bg: #f2f2f2;
    --color-contact-text: #000000;
    --color-button-text-shadow: rgba(0, 0, 0, 0.38);
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-text: #dddddd;
    --color-icon: #dddddd;
    --color-line-section: #cccccc;
    --color-line-ui: #888888;
    --color-contact-bg: #ffffff;
    --color-contact-text: #000000;
    --color-button-text-shadow: rgba(255, 255, 255, 0.44);
}
