/*!
global > color
------------------------------
*/
:root {
    color-scheme: light dark;
    --bg-color: light-dark(#d0bfc3, #000000);
    --text-color: light-dark(#000000, #ffffff);
    --line-color: light-dark(#000000, #ffffff);
    --contact-bg-color: light-dark(#f2f2f2, #ffffff);
    --contact-text-color: light-dark(#ffffff, #000000);
}

[data-theme="light"] {
    --bg-color: #d0bfc3;
    --text-color: #000000;
    --line-color: #000000;
    --contact-bg-color: #f2f2f2;
    --contact-text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
    --line-color: #ffffff;
    --contact-bg-color: #ffffff;
    --contact-text-color: #000000;
}
