/*!
global > font
------------------------------
*/
:root {
    --font-family-ja: "Zen Kaku Gothic Antique", sans-serif;
    --font-family-en: "Schibsted Grotesk", sans-serif;
    --font-family-accent: "Michroma", sans-serif;
}
