@use "./breakpoints" as g;

/*!
global > header-height
------------------------------
*/

:root {
    --header-height: 70px;
}

@include g.mq() {
    :root {
        --header-height: 90px;
    }
}

@include g.mq(lg) {
    :root {
        --header-height: 120px;
    }
}
