@use "../global" as g;

/*!
layout > container
------------------------------
*/
.l-container-sm {
    width: min(90%, var(--width-content-sm));
    margin-inline: auto;
}

.l-container {
    width: min(90%, var(--width-content));
    margin-inline: auto;
}

.l-container-lg {
    width: min(90%, var(--width-content-lg));
    margin-inline: auto;
}
