@use "../global" as g;

/*!
layout > header
------------------------------
*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: var(--border-section);
    z-index: var(--z-index-header);
    background-color: var(--color-bg);
}

.header-logo-wrapper {
    height: 100%;
    display: grid;
    place-items: center;
    border-right: var(--border-section);
    padding-inline: 16px;
}

.header-logo {
    width: 46px;
    height: auto;
    display: block;

    @include g.mq() {
        width: 60px;
    }

    @include g.mq(lg) {
        width: 80px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.header-nav-list {
    font-family: var(--font-family-accent);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;

    @include g.mq() {
        padding-right: 24px;
    }

    @include g.mq(lg) {
        font-size: 16px;
    }
    @include g.mq(xl) {
        font-size: 18px;
    }
}

.header-nav-item {
    &--sp {
        display: inline-block;

        @include g.mq() {
            display: none;
        }
    }

    &--pc {
        display: none;
        @include g.mq() {
            display: inline-block;
            margin-left: 20px;
        }
        @include g.mq(lg) {
            margin-left: 40px;
        }

        a {
            padding-bottom: 0.3em;
        }
    }
}

.header-light-mode-button {
    width: 40px;
    height: 40px;

    img {
        width: 100%;
        height: 100%;
    }
}
