@use "../global" as g;

/*!
layout > header
------------------------------
*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    @include g.mq() {
        height: 120px;
    }
}

.header-logo-wrapper {
    width: 66px;
    height: 100%;
    display: grid;
    place-items: center;
    border-right: 1px solid var(--line-color);

    @include g.mq() {
        width: 120px;
        border-right: 2px solid var(--line-color);
    }
}

.header-logo {
    width: 11px;
    height: auto;
    display: block;

    @include g.mq() {
        width: 20px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.header-nav {

    // padding-right: 16px;
    @include g.mq() {
        // padding-right: 40px;
    }
}

.header-nav-list {
    font-family: var(--font-family-accent);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 16px;

    @include g.mq() {
        padding-right: 40px;
    }

    @include g.mq(lg) {
        font-size: 16px;
    }
    @include g.mq(xl) {
        font-size: 18px;
    }
}

.header-nav-item {
    &--sp {
        display: inline-block;

        @include g.mq() {
            display: none;
        }
    }

    &--pc {
        display: none;
        @include g.mq() {
            display: inline-block;
            margin-left: 20px;
        }
        @include g.mq(lg) {
            margin-left: 40px;
        }

        a {
            padding-bottom: 0.3em;
        }
    }
}

.header-light-mode-button {
    width: 40px;
    height: 40px;

    img {
        width: 100%;
        height: 100%;
    }
}