@use "../global" as g;

/*!
layout > container
------------------------------
*/

.l-section-inner {
    padding-block: 40px;
    @include g.mq() {
        padding-block: 64px;
    }
    @include g.mq(lg) {
        padding-block: 80px;
    }
}
