@use "../global" as g;

/*!
layout > transition-root
------------------------------
*/

.l-transition-root {
    visibility: visible;
    opacity: 1;
}

.is-js .l-transition-root {
    visibility: hidden;
    opacity: 0;
}
