@use "../global" as g;

/*!
component > breadcrumb
------------------------------
*/

.c-breadcrumb {
    font-family: var(--font-family-en);
    font-size: var(--font-size-body-sm);
    font-weight: bold;
    text-transform: uppercase;
}

.c-breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.c-breadcrumb-item {
    display: inline-flex;
    align-items: center;
}

.c-breadcrumb-item--current {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.c-breadcrumb-item:not(:last-child)::after {
    display: inline-block;
    margin-left: 8px;
    content: ">";
}
