@use "../global" as g;

/*!
component > button
------------------------------
*/
.c-button {
    --btn-shadow-x: 0px;
    --btn-shadow-y: 0px;
    --btn-tx: 0px;
    --btn-ty: 0px;
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-indent: 0.08em;
    text-shadow: var(--btn-shadow-x) var(--btn-shadow-y) var(--color-button-text-shadow);
    transition: text-shadow 0.3s;

    @media (any-hover: hover) {
        &:not(:disabled):hover {
            --btn-shadow-x: 3px;
            --btn-shadow-y: 3px;
            --btn-tx: 4px;
            --btn-ty: 4px;
        }
    }

    &::before,
    &::after {
        position: absolute;
        inset: 0;
        display: block;
        content: "";
        transition: translate 0.3s;
    }

    &::before {
        z-index: var(--z-index-default);
        border: var(--border-section);
    }

    &::after {
        border: var(--border-ui);
        translate: var(--btn-tx) var(--btn-ty);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.c-button--en {
    font-family: var(--font-family-accent);
    text-transform: uppercase;
}

.c-button--sm {
    font-size: var(--font-size-button-sm);
}

.c-button--md {
    font-size: var(--font-size-button-md);
}
