@use "../global" as g;

/*!
component > hamburger-menu.scss

------------------------------
*/

.c-hamburger-menu {
    background-color: var(--color-bg);
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    &::backdrop {
        display: none;
    }
    @include g.mq() {
        display: none;
    }
}

.c-hamburger-header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c-hamburger-open-button,
.c-hamburger-close-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    padding-inline: 16px;
}

.c-hamburger-open-button--stroke,
.c-hamburger-close-button--stroke {
    background-color: var(--color-icon);
    height: 3px;
    width: 52px;
    display: block;
}

.c-hamburger-close-button--stroke {
    &:nth-child(1) {
        transform: translateY(5px) rotate(-20deg);
    }
    &:nth-child(2) {
        transform: translateY(-5px) rotate(20deg);
    }
}

.c-hamburger-open-button--text,
.c-hamburger-close-button--text {
    font-family: var(--font-family-accent);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
}

.c-hamburger-open-button--text {
    font-size: 12px;
}

.c-hamburger-close-button--text {
    font-size: 11px;
}

.c-hamburger-menu-inner {
    width: 100%;
    margin-inline: auto;
}

.c-hamburger-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.c-hamburger-menu-list--sns {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 40px;
    margin-top: 24px;
}

.c-hamburger-menu-item button {
    @media (any-hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }
}

.c-hamburger-menu-item a {
    display: inline-block;
}

.c-hamburger-menu-item--link a {
    font-size: 28px;
    font-family: var(--font-family-accent);
    text-transform: uppercase;
    padding-left: 0.08em;
}

.c-hamburger-menu-item--sns a {
    width: 60px;
    aspect-ratio: 1/1;
    margin-top: 16px;
    transition: opacity 0.3s, scale 0.3s;
    @media (any-hover: hover) {
        &:hover {
            opacity: 0.7;
            scale: 1.2;
        }
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
