@use "../global" as g;

/*!
component > pagination
------------------------------
*/

.c-pagination {
    --pager-cell: 66px;
}

.c-pagination-nav {
    border-top: var(--border-ui);
    border-bottom: var(--border-ui);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-pagination-button {
    font-family: var(--font-family-accent);
    font-weight: bold;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: var(--pager-cell);
    line-height: 1;
    padding-block: 8px;
}

.c-pagination-button.is-hidden {
    display: none;
    @include g.mq() {
        display: inline-flex;
        visibility: hidden;
        pointer-events: none;
    }
}

.c-pagination-button--prev {
    justify-content: space-between;
    align-items: flex-start;
    @media (any-hover: hover) {
        &:hover {
            .c-pagination-label {
                translate: -8px 0;
            }
        }
    }
}

.c-pagination-button--next {
    justify-content: space-between;
    align-items: flex-end;
    @media (any-hover: hover) {
        &:hover {
            .c-pagination-label {
                translate: 8px 0;
            }
        }
    }
}

.c-pagination-button--works {
    align-items: center;
    justify-content: center;
    transition: translate 0.3s;

    @media (any-hover: hover) {
        &:hover {
            translate: 0 -4px;
        }
    }

    @include g.mq() {
        width: var(--pager-cell);
        border-inline: var(--border-ui);
        @media (any-hover: hover) {
            &:hover {
                translate: 0;
                background-color: var(--color-pager-bg-hover);
                .c-pagination-icon--works {
                    background-color: var(--color-icon-hover);
                }
            }
        }
    }
}

.c-pagination-label {
    display: flex;
    gap: 4px;
    transition: translate 0.3s;
}

.c-pagination-icon {
    display: inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-icon);
    width: 18px;
    aspect-ratio: 1/1;

    @include g.mq() {
        width: 24px;
    }

    &--prev {
        mask-image: url("../img/icons/ui/arrow-prev.svg");
        transform: translateY(2px);
        @include g.mq() {
            transform: translateY(0);
        }
    }
    &--next {
        mask-image: url("../img/icons/ui/arrow-next.svg");
        @include g.mq() {
            transform: translateY(-1px);
        }
    }
    &--works {
        mask-image: url("../img/icons/ui/works-pager.svg");
        @include g.mq() {
            width: 40px;
        }
    }
}

.c-pagination-text {
    font-size: var(--font-size-body--sm);
}

.c-pagination-text--works {
    @include g.mq() {
        display: none;
    }
}

.c-pagination-meta {
    font-family: var(--font-family-accent);
    font-size: 12px;
    opacity: 0.7;
    @include g.mq() {
        font-size: 14px;
    }
    @include g.mq(lg) {
        font-size: 16px;
    }
}

.c-pagination-meta--works {
    @include g.mq() {
        display: none;
    }
}

.c-pagination-center {
    display: flex;
    align-items: center;
}

.c-pagination-list {
    display: none;
    @include g.mq() {
        display: flex;
        align-items: center;
    }
}

.c-pagination-item {
    margin-left: calc(-1 * var(--border-size));
}

.c-pagination-item.is-active .c-pagination-link {
    background-color: var(--color-pager-bg-active);
    color: var(--color-pager-text-active);
}

.c-pagination-link {
    display: grid;
    place-items: center;
    height: var(--pager-cell);
    aspect-ratio: 1/1;
    font-family: var(--font-family-accent);
    border-inline: var(--border-ui);

    @media (any-hover: hover) {
        &:not(.c-pagination-link--dots):hover {
            background-color: var(--color-pager-bg-hover);
            color: var(--color-pager-text-hover);
        }
    }
}

.c-pagination-link--dots {
    pointer-events: none;
}
