@use "../global" as g;

/*!
component > pagination
------------------------------
*/

.c-pagination {
    --pager-cell: 60px;
    @include g.mq() {
        --pager-cell: 66px;
    }
    @include g.mq(lg) {
        --pager-cell: 70px;
    }
}

.c-pagination-nav {
    border-top: var(--border-ui);
    border-bottom: var(--border-ui);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include g.mq(lg) {
        grid-template-columns: 1fr auto 1fr;
    }
}

.c-pagination-button {
    font-family: var(--font-family-accent);
    font-weight: bold;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: var(--pager-cell);
    line-height: 1;
    padding-block: 8px;
}

.c-pagination-button--prev {
    justify-self: start;
    @media (any-hover: hover) {
        &:hover {
            .c-pagination-label {
                translate: -8px 0;
            }
        }
    }
}

.c-pagination-button--next {
    align-items: flex-end;
    justify-self: end;
    @media (any-hover: hover) {
        &:hover {
            .c-pagination-label {
                translate: 8px 0;
            }
        }
    }
}

.c-pagination-button.is-hidden {
    visibility: hidden;
    pointer-events: none;
}

.c-pagination-label {
    display: flex;
    gap: 4px;
    transition: translate 0.3s;
}

.c-pagination-icon {
    display: inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-icon);
    width: 18px;
    aspect-ratio: 1/1;

    @include g.mq() {
        width: 24px;
    }

    &--prev {
        mask-image: url("../img/icons/ui/arrow-prev.svg");
        transform: translateY(2px);
        @include g.mq() {
            transform: translateY(0);
        }
    }
    &--next {
        mask-image: url("../img/icons/ui/arrow-next.svg");
        @include g.mq() {
            transform: translateY(-1px);
        }
    }
}

.c-pagination-meta {
    font-family: var(--font-family-accent);
    font-size: var(--font-size-meta);
    opacity: 0.7;
}

.c-pagination-meta--prev {
    text-align: left;
}

.c-pagination-meta--next {
    text-align: right;
}

.c-pagination-list {
    display: none;
    @include g.mq(lg) {
        display: flex;
        align-items: center;
        justify-self: center;
    }
}

.c-pagination-item {
    margin-left: calc(-1 * var(--border-size));
}

.c-pagination-item.is-active .c-pagination-link {
    background-color: var(--color-pager-bg-active);
    color: var(--color-pager-text-active);
}

.c-pagination-link {
    display: grid;
    place-items: center;
    height: var(--pager-cell);
    aspect-ratio: 1/1;
    font-family: var(--font-family-accent);
    font-weight: bold;
    border-inline: var(--border-ui);

    @media (any-hover: hover) {
        &:not(.c-pagination-link--dots):hover {
            background-color: var(--color-pager-bg-hover);
            color: var(--color-pager-text-hover);
        }
    }
}

.c-pagination-link--dots {
    pointer-events: none;
}
