@use "../global" as g;

/*!
component > pagination
------------------------------
*/

.c-pagination {
    --pager-cell: 40px;
    margin-top: 80px;
    @include g.mq() {
        --pager-cell: 56px;
    }
}

.c-pagination-nav {
    border-top: var(--border-ui);
    border-bottom: var(--border-ui);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-pagination-button {
    padding-block: 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    line-height: 1;
    font-family: var(--font-family-accent);
    font-weight: bold;
    font-size: var(--font-size-body--sm);
    text-shadow: 3px 3px var(--color-button-text-shadow);
    transition: translate 0.3s;

    @include g.mq() {
        padding-block: 16px;
    }

    &::before {
        content: "";
        display: block;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        width: 24px;
        aspect-ratio: 1/1;
        background-color: var(--color-icon);
    }
}

.c-pagination-button.is-hidden {
    display: none;
    @include g.mq() {
        display: inline-flex;
        visibility: hidden;
        pointer-events: none;
    }
}

.c-pagination-button--prev {
    span:last-child {
        display: none;
        @include g.mq(lg) {
            display: inline-block;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            translate: -16px 0;
        }
    }
}

.c-pagination-button--next {
    @media (any-hover: hover) {
        &:hover {
            translate: 16px 0;
        }
    }
    span:last-child {
        display: none;
        @include g.mq(lg) {
            display: inline-block;
        }
    }
}

.c-pagination-button--home {
    padding-inline: 16px;
    @media (any-hover: hover) {
        &:hover {
            translate: 0 -4px;
        }
    }
    @include g.mq() {
        border-inline: var(--border-ui);
        @media (any-hover: hover) {
            &:hover {
                translate: 0;
                background-color: var(--color-pager-bg-hover);
                &::before {
                    background-color: var(--color-icon-hover);
                }
            }
        }
    }
    span:last-child {
        @include g.mq() {
            display: none;
        }
    }
}

.c-pagination-button--prev::before {
    mask-image: url("../img/icons/ui/arrow-prev.svg");
}

.c-pagination-button--next::before {
    mask-image: url("../img/icons/ui/arrow-next.svg");
    order: 2;
}

.c-pagination-button--home::before {
    mask-image: url("../img/icons/ui/works-pager.svg");
}

.c-pagination-center {
    display: flex;
    align-items: center;
}

.c-pagination-list {
    display: none;
    @include g.mq() {
        display: flex;
        align-items: center;
    }
}

.c-pagination-item {
    margin-left: calc(-1 * var(--border-size));
}

.c-pagination-link {
    height: var(--pager-cell);
    padding-inline: 16px;
    font-weight: bold;
    font-family: var(--font-family-accent);
    font-size: var(--font-size-body--sm);
    display: grid;
    place-items: center;
    border-inline: var(--border-ui);

    @media (any-hover: hover) {
        &:not(.c-pagination-link--dots):hover {
            background-color: var(--color-pager-bg-hover);
            color: var(--color-pager-text-hover);
        }
    }
}

.c-pagination-link--dots {
    pointer-events: none;
}

.c-pagination-item.is-active .c-pagination-link {
    background-color: var(--color-pager-bg-active);
    color: var(--color-pager-text-active);
}
