@use "../global" as g;

/*!
component > page-label
------------------------------
*/

.c-page-label {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border-bottom: var(--border-section);
    padding-bottom: 4px;
    margin-top: 40px;
    @include g.mq() {
        font-size: 24px;
        margin-top: 64px;
    }
}
