@use "../global" as g;

/*!
component > text-slider
------------------------------
*/

.c-text-slider-list {
    gap: 80px;
}

.c-text-slider-item {
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font-family-accent);
    line-height: 1;
    padding-block: 8px;
    @include g.mq() {
        font-size: 40px;
        padding-block: 16px;
    }
}
