@use "../global" as g;

/*!
component > title
------------------------------
*/
.c-title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font-family-accent);
    line-height: 1;
    padding-bottom: 12px;
    padding-left: 12px;
    @include g.mq() {
        font-size: 48px;
        padding-bottom: 24px;
        padding-left: 24px;
    }
}

.c-title--works {
    font-family: var(--font-family-accent);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.2em;
    display: inline-block;
    border-bottom: 1px solid var(--line-color);
    padding-block-end: 4px;
    @include g.mq() {
        font-size: 40px;
    }
    span {
        display: block;
    }
}

.c-title-wrapper {
    width: 100%;
    border-bottom: 1px solid var(--line-color);
    @include g.mq() {
        border-bottom: 2px solid var(--line-color);
      }
}

.c-title-inner {
    display: flex;
    align-items: flex-end;
    margin-inline: auto;
    width: 90%;
    height: 80px;
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    @include g.mq() {
        height: 140px;
        border-left: 2px solid var(--line-color);
        border-right: 2px solid var(--line-color);
    }
}
