@use "../../global" as g;

/*!
page > top > top-skills
------------------------------
*/

.top-skills-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    @include g.mq() {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    @include g.mq(lg) {
        gap: 40px;
    }
}

.top-skills-item {
    position: relative;
    padding-bottom: 70px;
    border: var(--border-ui);
    @include g.mq() {
        padding-bottom: 100px;
    }
    @include g.mq(lg) {
        padding-bottom: 150px;
    }
    &:last-child {
        @include g.mq() {
            grid-column: 1 / -1;
            justify-self: center;
            max-width: 800px;
        }
    }
}

.top-skills-item-title {
    padding: 8px 16px;
    font-size: var(--font-size-subheading);
    font-weight: bold;
    letter-spacing: 0.2em;
    border-bottom: var(--border-ui);
}

.top-skills-item-text {
    padding: 16px;
}

.top-skills-item-icon {
    position: absolute;
    right: 16px;
    bottom: 16px;

    width: 60px;
    aspect-ratio: 1/1;
    background-color: var(--color-icon);
    opacity: 0.4;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
    @include g.mq() {
        width: 80px;
    }
}

.top-skills-item-icon--coding {
    -webkit-mask-image: url("../img/decorations/top-skills-coding.svg");
    mask-image: url("../img/decorations/top-skills-coding.svg");
}

.top-skills-item-icon--wordpress {
    -webkit-mask-image: url("../img/decorations/top-skills-wordpress.svg");
    mask-image: url("../img/decorations/top-skills-wordpress.svg");
}

.top-skills-item-icon--animation {
    -webkit-mask-image: url("../img/decorations/top-skills-animation.svg");
    mask-image: url("../img/decorations/top-skills-animation.svg");
}

.top-skills-item-icon--design {
    -webkit-mask-image: url("../img/decorations/top-skills-design.svg");
    mask-image: url("../img/decorations/top-skills-design.svg");
}

.top-skills-item-icon--learn {
    -webkit-mask-image: url("../img/decorations/top-skills-learn.svg");
    mask-image: url("../img/decorations/top-skills-learn.svg");
}
