@use "../../global" as g;

/*!
page > top > top-vision
------------------------------
*/

.top-vision {
    border-bottom: 1px solid var(--line-color);
    @include g.mq() {
        border-bottom: 2px solid var(--line-color);
    }
}

.top-vision-inner {
    width: 90%;
    margin-inline: auto;
}

.top-vision-coder {
    border: 1px solid var(--line-color);
}

.top-vision-coder-title,
.top-vision-growth-title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2em;
    border-bottom: 1px solid var(--line-color);
    padding: 8px 16px;
}

.top-vision-coder-text,
.top-vision-growth-text {
    padding: 16px;
}

.top-vision-growth {
    border: 1px solid var(--line-color);
    margin-top: 40px;
}

.top-vision-growth-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 16px;
    justify-content: center;
    align-items: center;
    @include g.mq() {
        flex-direction: row;
        padding: 40px 24px;
    }
}

.top-vision-growth-item {
    position: relative;
    border: 1px solid var(--line-color);
    &:not(:last-child)::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 22px;
        bottom: -31px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--line-color);
        mask-image: url("../img/decorations/top-vision-arrow.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        @include g.mq() {
            top: 50%;
            right: -31px;
            bottom: auto;
            left: auto;
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}

.top-vision-growth-label {
    padding: 8px 16px;
    display: block;
    border-bottom: 1px solid var(--line-color);
}
