@use "../../global" as g;

/*!
page > top > top-about
------------------------------
*/

.top-about-content {
    display: flex;
    flex-direction: column;
    border: var(--border-ui);
    @include g.mq() {
        flex-direction: row;
        align-items: center;
    }
}

.top-about-image-wrapper {
    border-bottom: var(--border-ui);
    padding-block: 24px;
    @include g.mq() {
        border-bottom: none;
        padding-block: 0;
        padding-inline: 32px;
        display: grid;
        place-items: center;
    }
}

.top-about-image {
    display: block;
    margin-inline: auto;
    width: 180px;
    height: 180px;
    background-color: var(--color-bg);
    border: var(--border-ui);
    @include g.mq() {
        width: 240px;
        height: 240px;
    }
}

.top-about-image img {
    width: 100%;
    height: 100%;
}

.top-about-profile {
    padding: 32px 16px;
    @include g.mq() {
        border-left: var(--border-ui);
        padding: 48px 24px;
    }
    @include g.mq(lg) {
        padding: 64px 32px;
    }
}

.top-about-profile-name {
    font-size: var(--font-size-subheading);
    text-transform: uppercase;
    font-family: var(--font-family-accent);
}

.top-about-profile-text {
    margin-top: 16px;
    line-height: 2;
    @include g.mq() {
        margin-top: 24px;
    }
}

.top-about-profile-text span {
    display: block;
    &:not(:first-child) {
        margin-top: 16px;
    }
}

.top-about-profile-sns-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 24px;
    @include g.mq() {
        margin-top: 40px;
        gap: 20px;
    }
}

.top-about-profile-sns-item {
    width: 40px;
    aspect-ratio: 1/1;
    @include g.mq() {
        width: 48px;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
