@use "../../global" as g;

/*!
page > top > top-vision
------------------------------
*/

.top-vision-coder {
    border: var(--border-ui);
}

.top-vision-coder-title,
.top-vision-growth-title {
    font-weight: bold;
    font-size: var(--font-size-subheading);
    letter-spacing: 0.2em;
    border-bottom: var(--border-ui);
    padding: 8px 16px;
}

.top-vision-coder-text,
.top-vision-growth-text {
    padding: 16px;
}

.top-vision-growth {
    border: var(--border-ui);
    margin-top: 40px;
}

.top-vision-growth-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 16px;
    @include g.mq() {
        padding: 40px 24px;
    }
    @include g.mq(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.top-vision-growth-item {
    position: relative;
    border: var(--border-ui);
    padding-bottom: 8px;
    &:not(:last-child)::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 22px;
        bottom: -31px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-icon);
        mask-image: url("../img/decorations/top-vision-arrow.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        @include g.mq(lg) {
            top: 50%;
            right: -31px;
            bottom: auto;
            left: auto;
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}

.top-vision-growth-label {
    padding: 8px 16px;
    display: block;
    border-bottom: var(--border-ui);
}
