@use "../../global" as g;

/*!
page > top > top-about
------------------------------
*/

.top-about {
    width: 100%;
    border-bottom: 1px solid var(--line-color);
    @include g.mq() {
        border-bottom: 2px solid var(--line-color);
    }
}

.top-about-inner {
    width: 90%;
    margin-inline: auto;
    max-width: 1080px;
}

.top-about-content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--line-color);
    @include g.mq() {
        flex-direction: row;
        align-items: center;
        border: 2px solid var(--line-color);
    }
}

.top-about-image-wrapper {
    border-bottom: 1px solid var(--line-color);
    padding-block: 24px;
    @include g.mq() {
        border-bottom: none;
        padding-block: 0;
        padding-inline: 32px;
        display: grid;
        place-items: center;
    }
}

.top-about-image {
    display: block;
    margin-inline: auto;
    width: 180px;
    height: 180px;
    background-color: var(--bg-color);
    border: 1px solid var(--line-color);
    @include g.mq() {
        width: 240px;
        height: 240px;
    }
}

.top-about-image img {
    width: 100%;
    height: 100%;
}

.top-about-profile {
    padding: 32px;
    @include g.mq() {
        border-left: 2px solid var(--line-color);
        padding: 120px;
    }
}

.top-about-profile-name {
    font-size: var(--font-size-subheading);
    text-transform: uppercase;
    font-family: var(--font-family-accent);
}

.top-about-profile-text {
    margin-top: 24px;
    @include g.mq() {
        margin-top: 32px;
    }
}

.top-about-profile-text span {
    display: block;
    &:last-child {
        margin-top: 16px;
    }
}

.top-about-profile-sns-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    @include g.mq() {
        justify-content: flex-start;
        gap: 16px;
    }
}

.top-about-profile-sns-item {
    width: 40px;
    aspect-ratio: 1/1;
    margin-top: 24px;
    @include g.mq() {
        width: 48px;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
