@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/

.top-kv-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: var(--border-section);
    border-bottom: var(--border-section);

    @include g.mq() {
        display: flex;
        height: calc(100vh - var(--header-height) - 152px);
        max-height: calc(0.5625 * 85vw);
        min-height: 380px;
    }
}

/* メインの大画像エリア */
.top-kv-slider-main {
    z-index: var(--z-index-default);
    height: auto;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    @include g.mq() {
        flex-shrink: 0;
        max-width: 85vw;
        min-width: 70%;
    }
}

.top-kv-slider-stage {
    width: 100%;
    height: 100%;
}

.top-kv-slider-link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.top-kv-slider-mask {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 90%);
    transform: translateZ(0);
    will-change: transform;
    z-index: var(--z-index-overlay);
}

.top-kv-slider-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-kv-slider-cta-button {
    position: absolute;
    background-color: var(--color-bg);
    z-index: var(--z-index-overlay-content);
    right: 16px;
    bottom: 50px;
    @include g.mq(sm) {
        bottom: 70px;
    }
    @include g.mq() {
        right: auto;
        left: 40px;
        bottom: 90px;
    }
}

.top-kv-slider-controls {
    position: absolute;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 16px;
    width: 90%;
    z-index: var(--z-index-kv-slider);
    @include g.mq(sm) {
        bottom: 20px;
    }

    @include g.mq() {
        justify-content: space-between;
        left: 40px;
        bottom: 40px;
    }
}

.top-kv-slider-progress {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
    @include g.mq() {
        width: auto;
    }
}

.top-kv-slider-progress-bar {
    position: relative;
    flex: 1;
    height: 2px;
    background-color: #808080;
    @include g.mq() {
        width: clamp(200px, 40vw, 600px);
    }
}

.top-kv-slider-progress-bar-thumb {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: calc(100% / 8);
    height: 100%;
}

.top-kv-slider-progress-index {
    color: white;
}

.top-kv-slider-nav {
    display: none;
    @include g.mq() {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.top-kv-slider-nav-button {
    aspect-ratio: 1/1;
    width: 16px;

    @include g.mq() {
        width: 20px;
    }
}

.top-kv-slider-thumbnails {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: var(--border-ui);

    @include g.mq() {
        overflow: visible;
        border-top: none;
        align-self: stretch;
    }
}


.top-kv-slider-thumbnails-inner {
    height: auto;
    background-color: var(--color-bg);
    padding: 8px;
    @include g.mq() {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: max-content;
        padding: 4px;
        border-top: none;
        border-left: var(--border-ui);
        z-index: var(--z-index-kv-slider);
    }
}

/* スライダーリスト */
.top-kv-slider-list {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    gap: 8px;

    @include g.mq() {
        gap: 0;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 100%;
        width: max-content;
        justify-content: center;
    }
}

.top-kv-slider-list::-webkit-scrollbar {
    display: none;
}

/* スライダーアイテム */

.top-kv-slider-item {
    min-width: 88px;
    min-height: 88px;
    aspect-ratio: 1/1;
    @include g.mq() {
        max-width: none;
        padding: 4px;
        height: calc(100% / 3);
    }

    &--button {
        display: grid;
        place-items: center;
    }
}

.top-kv-slider-item-trigger {
    position: relative;
    display: block;
    font-size: 14px;
    @include g.mq() {
        font-size: 16px;
    }
    &::before {
        content: "";
        display: grid;
        place-items: center;
        position: absolute;
        inset: 0;
        font-family: var(--font-family-accent);
        font-weight: bold;
        z-index: var(--z-index-default);
        color: white;
        scale: 0;
        transition: scale 0.3s;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s;
    }

    @media (any-hover: hover) {
        &:hover {
            &::before {
                content: "Click!";
                scale: 1;
            }
            &::after {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.top-kv-slider-item-trigger img {
    border: var(--border-ui);
    width: 100%;
    height: 100%;
    display: block;
}

.top-kv-slider-item-trigger.is-active {
    &::before {
        content: "Selected";
        display: grid;
        place-items: center;
        position: absolute;
        font-family: var(--font-family-accent);
        font-weight: bold;
        z-index: var(--z-index-default);
        color: #ffffff;
        scale: 1;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.top-kv-slider-toggle {
    display: none;
    @include g.mq() {
        display: block;
        background: transparent;
        position: absolute;
        top: 0;
        left: -32px;
        width: 32px;
        height: 109px;
    }
    @include g.mq(xl) {
        left: -38px;
        width: 38px;
        height: 129px;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.top-kv-toggle-panel--fill {
    fill: var(--color-bg);
}

.top-kv-toggle-panel--stroke {
    fill: var(--color-line-ui);
}

.top-kv-slider-toggle-bg {
    display: block;
    width: 32px;
    height: auto;
    img {
        width: 100%;
        height: 100%;
    }
}

.top-kv-slider-toggle-arrow {
    display: block;
    position: absolute;
    top: 25px;
    left: 12px;
    width: 15px;
    height: auto;
    @include g.mq(xl) {
        top: 30px;
        left: 15px;
        width: 18px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}
