@use "../../global" as g;

/*!
page > top > top-works
------------------------------
*/

.top-works-inner {
    width: 90%;
    margin-inline: auto;
}

.top-works-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    align-items: center;
    @include g.mq() {
        grid-template-columns: repeat(2, 1fr);
    }
    @include g.mq(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.top-works-item {
    border: var(--border-ui);
}

.top-works-item-link {
    display: block;
    padding: 16px;
    @media (any-hover: hover) {
        &:hover {
            .top-works-item-thumbnail {
                img {
                    scale: 1.05;
                }
                &::before {
                    scale: 1;
                }
                &::after {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

.top-works-item-thumbnail {
    position: relative;
    aspect-ratio: 16/9;
    border: var(--border-ui);
    overflow: hidden;
    &::before {
        content: "Detail";
        display: grid;
        place-items: center;
        position: absolute;
        inset: 0;
        font-size: 40px;
        font-family: var(--font-family-accent);
        font-weight: bold;
        color: white;
        z-index: var(--z-index-default);
        scale: 0;
        transition: scale 0.3s;
        @include g.mq(lg) {
            font-size: 48px;
        }
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s;
    }
}

.top-works-item-thumbnail img {
    width: 100%;
    height: 100%;
    transition: scale 0.3s;
}

.top-works-item-date {
    font-size: var(--font-size-meta);
    margin-top: 16px;
    letter-spacing: 0.2em;
}

.top-works-item-title {
    font-family: var(--font-family-accent);
    letter-spacing: 0.2em;
}

.top-works-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}

.top-works-tag {
    font-size: 12px;
    letter-spacing: 0.08em;
    text-indent: 0.08em;
    padding: 4px 8px;
    border: var(--border-ui);
    white-space: nowrap;
}

.top-works-button {
    width: 80%;
    margin-inline: auto;
    text-align: center;
    margin-top: 32px;
    @include g.mq() {
        margin-top: 0;
    }
}

.top-works-button span {
    &:first-child {
        margin-right: 8px;
    }
}
