@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/

.top-kv {
    position: relative;
    width: 100%;
    overflow: hidden;

    @include g.mq() {
        display: flex;
        height: calc(100vh - 120px - 152px);
        max-height: calc(0.5625 * 85vw);
        min-height: calc(420px - 120px - 76px);
    }
}

/* メインの大画像エリア */
.top-kv-selected-work {
    z-index: 1;
    height: auto;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    @include g.mq() {
        flex-shrink: 0;
        max-width: 85vw;
        min-width: 70%;
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 90%);
    // }
}

.top-kv-mask {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 90%);
    transform: translateZ(0);
    will-change: transform;
    z-index: 1000;
}

.top-kv-selected-work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-kv-scroll-panel {
    position: absolute;
    left: 16px;
    bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    z-index: 100;
    @include g.mq() {
        width: 70%;
        left: 40px;
        bottom: 40px;
    }
}

.top-kv-scroll-tracker {
    display: flex;
    align-items: center;
    gap: 16px;
}

.top-kv-scrollbar {
    position: relative;
    width: clamp(200px, 40vw, 600px);
    height: 2px;
    background-color: #808080;
}

.top-kv-scrollbar-thumb {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: calc(100% / 8);
    height: 100%;
}

.top-kv-selected-index {
    color: white;
}

.top-kv-scroll-control {
    display: flex;
    align-items: center;
    gap: 16px;
    @include g.mq() {
        gap: 24px;
    }
}

.top-kv-scroll-button {
    width: 16px;
    height: 16px;
    @include g.mq() {
        width: 20px;
        height: 20px;
    }
}

.top-kv-slider {
    position: relative;
    width: 100%;
    height: auto;
    border-top: 1px solid var(--line-color);

    @include g.mq() {
        overflow: visible;
        border-top: none;
    }
}

/* スライダーリストコンテナ */
.top-kv-slider-list-container {
    height: auto;
    background-color: var(--bg-color);
    @include g.mq() {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: max-content;
        padding: 4px;
        border-top: none;
        border-left: 2px solid var(--line-color);
        z-index: 100;
    }
}

/* スライダーリスト */
.top-kv-slider-list {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    padding: 8px;
    gap: 8px;

    @include g.mq() {
        gap: 0;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: calc(100vh - 120px - 152px);
        width: max-content;
        justify-content: center;
    }
}

/* スライダーアイテム */

.top-kv-slider-item {
    min-width: 88px;
    min-height: 88px;
    aspect-ratio: 1/1;
    @include g.mq() {
        max-width: none;
        padding: 4px;
        height: calc(100% / 3);
    }

    &--link {
        display: grid;
        place-items: center;
        a {
            border: 1px solid var(--line-color);
            font-size: 14px;
            font-family: var(--font-family-accent);
            text-transform: uppercase;
            display: block;
            width: 100%;
            line-height: 1.4;
            padding-block: 8px;
            text-align: center;
            @include g.mq() {
                font-size: 16px;
                padding-block: 16px;
            }
        }
    }
}

.top-kv-slider-item--trigger {
    position: relative;
    display: block;
    font-size: 14px;
    @include g.mq() {
        font-size: 16px;
    }
    @media (any-hover: hover) {
        &:hover {
            &::before {
                content: "Click!";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: var(--font-family-accent);
                font-weight: bold;
                z-index: 1;
                color: white;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.top-kv-slider-item--trigger img {
    border: 1px solid var(--line-color);
    width: 100%;
    height: 100%;
    display: block;
}

.top-kv-slider-item--trigger.is-active {
    &::before {
        content: "Selected";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--font-family-accent);
        font-weight: bold;
        z-index: 1;
        color: #ffffff;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.top-kv-slider-toggle {
    display: none;
    @include g.mq() {
        display: block;
        flex: 0 0 auto;
        position: absolute;
        top: 0;
        left: -32px;
    }
}

.top-kv-toggle-btn-bg {
    display: block;
    width: 32px;
    height: auto;
    img {
        width: 100%;
        height: 100%;
    }
}

.top-kv-toggle-btn-arrow {
    display: block;
    position: absolute;
    top: 25px;
    left: 12px;
    width: 15px;
    height: auto;
    img {
        width: 100%;
        height: 100%;
    }
}
