@use "../../global" as g;

/*!
page > top > top-skills
------------------------------
*/

.top-skills-inner {
    width: 90%;
    max-width: var(--width-content-l);
    margin-inline: auto;
}

.top-skills-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    @include g.mq() {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    @include g.mq(lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

.top-skills-item {
    border: var(--border-ui);
    position: relative;
    padding-bottom: 100px;
    &:nth-child(4) {
        @include g.mq(lg) {
            grid-column: 1 / -1;
            max-width: 900px;
            justify-self: center;
        }
    }
}

.top-skills-item-title {
    border-bottom: var(--border-ui);
    font-size: var(--font-size-subheading);
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 8px 16px;
}

.top-skills-item-text {
    padding: 16px;
}

.top-skills-item-icon {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    width: 80px;
    height: 80px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    background-color: var(--color-icon);
    opacity: 0.4;
}

.top-skills-item-icon--coding {
    mask-image: url("../img/decorations/top-skills-coding.svg");
    --webkit-mask-image: url("../img/decorations/top-skills-coding.svg");
}

.top-skills-item-icon--animation {
    mask-image: url("../img/decorations/top-skills-animation.svg");
    --webkit-mask-image: url("../img/decorations/top-skills-animation.svg");
}

.top-skills-item-icon--design {
    mask-image: url("../img/decorations/top-skills-design.svg");
    --webkit-mask-image: url("../img/decorations/top-skills-design.svg");
}

.top-skills-item-icon--learn {
    mask-image: url("../img/decorations/top-skills-learn.svg");
    --webkit-mask-image: url("../img/decorations/top-skills-learn.svg");
}
