@use "../../global" as g;

/*!
page > top > top-about
------------------------------
*/

.top-contact-text span {
    display: block;
    font-weight: bold;
}

.top-contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
    @include g.mq() {
        gap: 40px;
        margin-top: 48px;
    }
}

.top-input,
.top-textarea {
    background-color: var(--color-contact-bg);
    box-shadow: 0 0 0 1px var(--color-line-ui);
    width: 100%;
    max-width: 800px;
    color: var(--color-contact-text);
    padding: 8px;
    outline: none;
    @include g.mq() {
        box-shadow: 0 0 0 2px var(--color-line-ui);
    }
}

.top-input:focus,
.top-textarea:focus {
    box-shadow: 0 0 0 2px var(--color-bg), 0 0 0 4px var(--color-line-ui);
}

.top-textarea {
    min-height: 240px;
}

.top-contact-label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

.top-contact-label-title {
    margin-right: 8px;
}

.top-contact-label-required {
    border: var(--border-ui);
    padding: 4px;
    text-indent: 0.2em;
}

.top-contact-error {
    display: none;
    color: var(--color-error-text);
    padding: 8px;
}

.top-contact-item.is-error .top-contact-error {
    display: block;
}

.top-contact-privacy-title {
    font-weight: 700;
}

.top-contact-privacy-text {
    font-weight: 500;
    margin-top: 16px;
    max-width: 800px;
}
.top-contact-privacy-text span {
    display: block;
}

.top-contact-privacy-button {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 4px;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.7;
            text-decoration: none;
        }
    }
}

.top-contact-submit-button {
    max-width: 300px;
    @include g.mq() {
        max-width: 400px;
    }
}

.top-contact-privacy-label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    margin-top: 32px;
    line-height: 1;
}

.top-contact-privacy-checkbox {
    appearance: none;
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: var(--border-ui);
    @include g.mq() {
        width: 20px;
        height: 20px;
    }
}

.top-contact-privacy-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 6px;
    border-bottom: 2px solid var(--color-line-section);
    border-left: 2px solid var(--color-line-section);
    transform: rotate(-45deg);
    @include g.mq() {
        top: 3px;
        left: 2px;
    }
}

.top-contact-modal {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

    &::backdrop {
        display: none;
    }
}
.top-contact-modal-overlay {
    position: fixed;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.top-contact-modal-inner {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.top-contact-modal-content {
    width: 90%;
    max-width: var(--width-content);
    position: relative;
    padding: 40px;
    background-color: var(--color-bg-contact-modal);
    color: var(--color-text-contact-modal);
}

.top-contact-modal-title {
    font-size: var(--font-size-subheading);
}

.top-contact-modal-body {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.top-contact-modal-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
}

.top-contact-modal-button::before,
.top-contact-modal-button::after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--color-text-contact-modal);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: scale 0.1s;
    @include g.mq() {
        width: 20px;
    }
}
.top-contact-modal-button::before {
    transform: rotate(45deg);
}

.top-contact-modal-button::after {
    transform: rotate(-45deg);
}
