@use "../../global" as g;

/*!
page > works > works-detail
------------------------------
*/

.works-detail {
    border-top: var(--border-section);
}

.works-detail-title-wrapper {
    margin-top: 40px;
    @include g.mq() {
        margin-top: 64px;
    }
}

.works-detail-hero {
    margin-top: 40px;
    border: var(--border-ui);
}

.works-detail-button {
    max-width: 400px;
    margin-inline: auto;
}

.works-detail-button--url {
    margin-top: 16px;
    @include g.mq() {
        margin-top: 24px;
    }
    @include g.mq(lg) {
        margin-top: 40px;
    }
}

.works-detail-button--back {
    margin-top: 64px;
    @include g.mq() {
        margin-top: 80px;
    }
}

.works-detail-basic {
    margin-top: 24px;
    @include g.mq() {
        margin-top: 40px;
    }
}

.works-detail-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    @include g.mq() {
        grid-template-columns: repeat(3, 1fr);
    }
}

.works-detail-info-column:first-child {
    grid-column: 1 / -1;
    @include g.mq() {
        grid-column: auto;
    }
}

.works-detail-info-title {
    border-bottom: var(--border-ui);
    padding-block-end: 4px;
    font-weight: bold;
    font-size: 18px;
    @include g.mq() {
        font-size: 20px;
    }
}

.works-detail-info-text {
    padding-top: 4px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
}

.works-detail-section {
    margin-top: 24px;
    max-width: 900px;
    margin-inline: auto;
    @include g.mq() {
        margin-top: 40px;
    }
}

.works-detail-section-url {
    @media (any-hover: hover) {
        &:hover {
            .works-detail-section-text--url {
                text-decoration: none;
            }
        }
    }
}

.works-detail-section-title {
    border-bottom: var(--border-ui);
    padding-block-end: 4px;
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 18px;
    @include g.mq() {
        font-size: 20px;
    }
}

.works-detail-section-text {
    line-height: 2;
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.works-detail-points {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include g.mq() {
        gap: 32px;
    }
}

.works-detail-point {
    &:not(:last-child) {
        border-bottom: var(--border-dashed);
        padding-bottom: 24px;
        @include g.mq() {
            padding-bottom: 32px;
        }
    }
}

.works-detail-point-title {
    display: grid;
    grid-template-columns: auto 1fr;
    font-weight: bold;
    gap: 4px;
    &::before {
        content: "・";
    }
}

.works-detail-point-text {
    padding-left: calc(1em + 4px);
    padding-top: 16px;
}

.works-detail-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}

.works-detail-tech-item {
    &:not(:first-child)::before {
        content: "/";
        margin-inline: 0.5em;
    }
}

.works-detail-link {
    text-decoration: underline;
    @media (any-hover: hover) {
        &:hover {
            text-decoration: none;
        }
    }
}
