@use "../../global" as g;

/*!
page > works > work-detail
------------------------------
*/

.work-detail {

}

.work-detail-inner {
    width: 90%;
    margin-inline: auto;
    max-width: 1200px;
}


.works-detail-title-wrapper {
  margin-top: 40px;
}

.work-detail-hero {
  margin-top: 40px;
}

.work-detail-basic {
  margin-top: 24px;
}

.work-detail-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.work-detail-info-column {
  width: calc(100% / 3 - 24px);
}

.work-detail-info-title {
  border-bottom: 1px dashed var(--line-color);
  padding-block-end: 4px;
}

.work-detail-info-text {
  font-weight: bold;
  text-transform: uppercase;
}

.work-detail-section {
  margin-top: 24px;
}

.work-detail-section-title {
  border-bottom: 1px dashed var(--line-color);
  padding-block-end: 4px;
}

.work-detail-section-text {
  font-weight: bold;
  margin-top: 8px;
}

