@use "../../global" as g;

/*!
page > works > works
------------------------------
*/

.works {
    padding-block: 40px;
    @include g.mq() {
        padding-block: 64px;
    }
}

.works-inner {
    width: 90%;
    margin-inline: auto;
}

.works-title {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid var(--line-color);
    margin-top: 40px;
    padding-block-end: 4px;
    @include g.mq() {
      font-size: 24px;
        margin-top: 64px;
    }
}

.works-list {
    // padding-block: 64px;
    &--personal {
        border-bottom: 1px solid var(--line-color);
    }
}

.works-list-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 64px;
    @include g.mq() {
      padding-top: 90px;
    }
}

.works-list-title {
    font-family: var(--font-family-accent);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.2em;
    display: inline-block;
    border-bottom: 1px solid var(--line-color);
    padding-block-end: 4px;
    @include g.mq() {
        font-size: 40px;
    }
}

.works-list-title span {
    display: block;
}

.works-item {
    width: 100%;
    @include g.mq() {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

.works-item-link {
    position: relative;
    display: block;
    aspect-ratio: 16 / 9;
    @include g.mq() {
        width: 45%;
    }
}

.works-item-thumbnail {
    width: 100%;
    height: 100%;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.works-item-label {
    position: absolute;
    background-color: var(--bg-color);
    bottom: 16px;
    right: 16px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid var(--line-color);
}

.works-item-info {
    flex: 1;
}

.works-item-title {
    font-family: var(--font-family-accent);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-block: 16px;
    background-image: linear-gradient(to right, var(--line-color), var(--line-color) 4px, transparent 4px, transparent 10px);
    background-size: 10px 1px;
    background-position: left bottom;
    background-repeat: repeat-x;
    @include g.mq() {
        font-size: 20px;
    }
    @include g.mq(lg) {
        font-size: 32px;
    }
    @include g.mq(xl) {
        font-size: 40px;
    }
}

.works-item-title span {
    @include g.mq() {
        display: block;
    }
}

.works-item-meta {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 14px;
    margin-top: 8px;
    @include g.mq() {
        font-size: 16px;
    }
    @include g.mq(lg) {
        font-size: 18px;
    }
}

.works-item-date {
    display: block;
    font-family: var(--font-family-en);
    grid-column: 1 / -1;
}
.works-item-categories {
    display: flex;
    flex-wrap: wrap;
}

.works-item-category {
    letter-spacing: 0;
    &:not(:last-child)::after {
        content: "/";
        margin-inline: 4px;
    }
}

.works-item-url {
    font-size: 14px;
    font-weight: bold;
    justify-self: end;
    @include g.mq() {
        font-size: 16px;
    }
    @include g.mq(lg) {
        font-size: 18px;
    }
}
