@use "../../global" as g;

/*!
page > thanks > thanks
------------------------------
*/
.thanks-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.thanks-main {
    display: grid;
    flex: 1;
    place-items: center;
    min-height: 500px;
    text-align: center;
    border-top: var(--border-section);
    border-bottom: var(--border-section);
    @include g.mq() {
        min-height: 600px;
    }
}

.thanks-title {
    display: inline-flex;
    font-size: var(--font-size-heading);
    font-weight: bold;
    border-bottom: var(--border-ui);
}

.thanks-text {
    margin-top: 24px;
    font-size: var(--font-size-body-lg);
    @include g.mq() {
        margin-top: 40px;
    }
}

.thanks-button {
    max-width: 370px;
    margin-inline: auto;
    margin-top: 40px;
}
