@use "../../global" as g;

/*!
page > thanks > thanks
------------------------------
*/

.thanks {
  border-top: var(--border-section);
  border-bottom: var(--border-section);
  min-height: calc(100vh - var(--header-height));
  display: grid;
  place-items: center;
}

.thanks-title {
  
}

.thanks-text {

}

.thanks-button {
  max-width: 400px;
  margin-inline: auto;
}

.c-button {

}

